.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: #fff;
  border-bottom: 2px solid #9c9a9a;
}

.title {
  padding: 10px;
  font-size: 1.8rem;
  flex-grow: 2;
  color: #333;
}

.navbar {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 20px;
}

.navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

.navbar ul li:hover {
  transform: scale(0.8);
}

.activeLink {
  padding: 5px;
  text-decoration: none;
  color: #5a5858;
}

.line {
  border: 1px solid black;
}
